Cambio de Estado.json
{
  "name": "Cambio de Estado",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -96
      ],
      "id": "e81f6214-92fd-4261-b6b2-2ce8293bc195",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const tickets = $input.all();\nconst ahora = new Date();\nconst CINCO_MINUTOS = 5 * 60 * 1000;\n\nconst cambios = [];\n\nfor (const item of tickets) {\n  const t = item.json;\n  if (!t.id_ticket || !t.fecha_creacion) continue;\n  if (t.estado === 'Cerrado') continue;\n\n  const fechaStr = t.fecha_creacion.trim().replace(' ', 'T');\n  const fechaCreacion = new Date(fechaStr.length === 18 ? fechaStr.replace('T', 'T0') + 'Z' : fechaStr + 'Z');\n  const diff = ahora - fechaCreacion;\n\n  if (t.estado === 'Abierto' && diff >= CINCO_MINUTOS) {\n    cambios.push({ json: { id_ticket: t.id_ticket, estado_actual: 'Abierto', nuevo_estado: 'En proceso', creado_por: t.creado_por } });\n  }\n\n  if (t.estado === 'En proceso' && diff >= CINCO_MINUTOS * 2) {\n    cambios.push({ json: { id_ticket: t.id_ticket, estado_actual: 'En proceso', nuevo_estado: 'Cerrado', creado_por: t.creado_por } });\n  }\n}\n\nif (cambios.length === 0) {\n  return [{ json: { sin_cambios: true } }];\n}\n\nreturn cambios;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -96
      ],
      "id": "00b9fc6f-3c95-4a66-8081-c6bc0f4f814c",
      "name": "Calcular Cambios"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1164808f-9a2c-4ec1-804e-ebce349886f1",
              "leftValue": "={{ $json.sin_cambios }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -96
      ],
      "id": "2cf08331-c0e2-4319-8d07-137b07488b41",
      "name": "Hay cambios?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19Wfxhj7K_WJxq5NyarlXo7Ho7aZ8WaOAz5Osl3_PSMU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SOLICITUDES",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $json.id_ticket }}",
            "estado": "={{ $json.nuevo_estado }}"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -96
      ],
      "id": "999fb483-20e2-45ba-9cd5-f0503a71c882",
      "name": "Actualizar estado automaticamente",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HJpswSCzEzS8jkuK",
          "name": "Credenciales no Ia"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19Wfxhj7K_WJxq5NyarlXo7Ho7aZ8WaOAz5Osl3_PSMU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SOLICITUDES",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -96
      ],
      "id": "bdca3bcd-2f80-49a8-bcfe-a01ecbde4514",
      "name": "Leer Tickets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HJpswSCzEzS8jkuK",
          "name": "Credenciales no Ia"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔄 CAMBIO AUTOMÁTICO DE ESTADO\n\nEl **Schedule Trigger** ejecuta el flujo cada **1 minuto**.\n\nSe leen todos los tickets de **SOLICITUDES** y se calcula\nel tiempo transcurrido desde su creación:\n\n- `Abierto` → **En proceso** después de **5 minutos**\n- `En proceso` → **Cerrado** después de **10 minutos**\n\nSi hay tickets que actualizar, se modifican directamente\nen **Google Sheets** sin intervención del usuario.",
        "height": 320,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        -496
      ],
      "id": "b94080cc-fa27-4bc3-8051-927042af7b05",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Leer Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Cambios": {
      "main": [
        [
          {
            "node": "Hay cambios?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay cambios?": {
      "main": [
        [
          {
            "node": "Actualizar estado automaticamente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tickets": {
      "main": [
        [
          {
            "node": "Calcular Cambios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7d79932c-0871-46ff-8f57-24741d92812f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "613cbc1bbc9fe9503bb32384b3b54e4bb9d0c39383f77838930f3fdda885818a"
  },
  "id": "vXjinfpdrUbrHOwQ",
  "tags": []
}